alias ..="cd .."
alias ginit="git init"
alias v="vim"
alias nv="nvim"
alias f="lfrun"
alias cl="clear"
alias lno="lightnovel-cli"
alias cl="clear"
#alias ls="logo-ls"
alias ls="exa --icons"
#alias icat="kitty +kitten icat"
alias planner="com.github.alainm23.planner"
alias lg="lazygit"
alias unfuck_wifi="systemctl restart NetworkManager"
alias qr="xclip -o | qrencode -t "
alias h="history | sort | uniq | awk '{print $2}' | fzf"
